*{
    box-sizing: border-box ;
}
body{
    padding: 3px;
    margin: 0px;
    direction: rtl;
}

#Alert{
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: burlywood; */
}
.search{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.search input{
    height: 95%;
    width: 70%;
    padding: 5px 30px;
    font-size: larger;
}

.clearSearch{
    height: 95%;
    width: 20%;
}


.ListPage{
    height: 90vh;
    background-color: rgb(230, 255, 255);
    overflow: auto;

}
.disable{background-color: rgba(221, 228, 234, 0.562);}

.categories{
    /* background-color: bisque; */
}

.category{
    border-radius: 10px;
    padding: 10px;
    background-color: aqua;
    margin: 3px 0px;
    cursor: pointer;
    height: 100px;
    position: relative;


}

.category > .category-nums{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.btn{
    width: 100px;
    height: 40px;
}

.navCategorty{
    position: absolute;
    top:10px;
    left: 5px;
}
.showCategorty{
    position: absolute;
    top:41px;
    left: 5px;
}
.msgCategorty{
    position: absolute;
    top:70px;
    left: 5px;
}

.nums:hover{color:green;}

.none{
    display: none;
}

.col1{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.col2{
    width: 28%;
    display: flex;
    
}

.itemAddress{
    font-size: smaller;
}

.MonePage{
    width: 97vw;
    margin: auto;
}

.mone-item{
    padding:5px ;
    border-top:1px solid;
    border-bottom:1px solid;
    display: flex;
}

.InputComponent{
    padding: 3px 5px;
    height: 36px;
}
.TextareaComponent{
    width: 100% ;
    height: 80px;
    padding: 7px;

}

.MoneIdContainer{
    height: 40px;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    grid-template-columns: 1fr 3fr 1fr;
    /* background-color: aqua; */
    margin-bottom: 10px;
}
.moneID{
    text-align: center;
    font-weight: bolder;
    font-size: 23px;
    align-self: center;
}

.cameraBtn{
    height: 35px;
    width: 15%;
    margin-right: 10px;
}

#address{
    border:0px solid;
    padding: 0;
    height: 10px;
    font-size: 0.7rem !important;
}

.read{
    background-color: rgb(136, 136, 234);
    height: 25px;
    border: 0px;
    overflow: hidden;
}
.unRead{
    background-color: rgb(252, 132, 132);
    height: 25px;
    border: 0px;
    overflow: hidden;
}

.galery{
    display: flex;
    width: 300px;
    height: 300px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    gap:3px;
}

.preview{
    width: 100%;
    height: 100%;
}


.Itemm{
    width: 99vw;

}
.Itemm h2{
    text-align: center;
}

.Itemm p{
    text-align: center;
}

.Itemm img{
    height: 350px;
    width: 350px;
    margin: 13px;
}

.itemName{
    font-size: 0.8rem;
    margin:0px 3px;
}
.itemLocation{
    font-size: 0.8rem;

}